
<div class="page-header">
  <h1>Fetch Authorizations</h1>
</div>

<div ng-if="ctrl.datasources.length === 0">
  <h4>No Timely datasources are defined.</h4>
  <i><a href="datasources/new">Create one</a></i>
</div>

<div ng-repeat="source in ctrl.datasources" ng-init="d=source" ng-controller="AuthsCtrl as actrl">
  <div class="gf-box">
    <div class="gf-box-header p-x-1 p-y-1">
      <h3 class="">{{d.name}}
        <span class="pull-right">
          <h6><i>https://{{d.jsonData.timelyHost}}:{{d.jsonData.httpsPort}}/login</i></h6>
        </span>
      </h3>
    </div>

    <div class="gf-box-body">
      <div ng-if="d.jsonData.basicAuths" class="p-b-1">
        <div class="gf-form">
      		<span class="gf-form-label width-7">
      			User
      		</span>
      		<input class="gf-form-input max-width-21" type="text"  ng-model='actrl.basicAuthUser' placeholder="user" required></input>
      	</div>

      	<div class="gf-form">
      		<span class="gf-form-label width-7">
      			Password
      		</span>
      		<input class="gf-form-input max-width-21" type="password" ng-model='actrl.basicAuthPassword' placeholder="password" required></input>
      	</div>

      </div>

      <div ng-if="actrl.fetching" class="gf-row">
  			<div class="alert-{{actrl.fetching.status}} alert">
  				<div class="alert-title">{{actrl.fetching.title}}</div>
  			</div>
  		</div>

      <div class="gf-form-button-row center-block">
        <button type="submit" class="btn btn-success" ng-click="actrl.login(d)">
          Get Auths
        </button>
      </div>
    </div>

  </div>
</div>
